html{
  box-sizing:boder-box;
  margin:0 auto;
  font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after{
  box-sizing:inherit;
}

header{
  background-color: #e7001d;
  margin:auto;
  padding:1rem;

}

.chinese{
  text-align:center;
  color:white;
  position:relative;
}

.head{
  position:absolute;
  bottom:1.5em;
  width:100%;
  text-shadow:0 2px 3px rgba(0,0,0,256);
}

img{
  width:100%;
}

.images{
  padding:1rem;
}

.inset-left{
  width:50%;
  float:left;
}

.inset-right{
  width:50%;
  float:right;
}

#medallion{
  width:100px;
}

nav a{
  display:block;
  background-color:#222222;
  text-decoration: none;
  color:white;
  border:0.1rem solid #111111;
  padding:0.5rem;

}

#head-p{
  top:4.5rem;
}

nav ol{
  list-style-type:none;
  padding: 0;
  margin: 0;
}

h1{
  top:.1rem;
  text-align:center;
  margin:auto;
  font-size:50px;
}

h2{
  color:white;
  position:absolute;
  bottom:1em;
  width:100%;
  text-align:center;
  margin:auto;
  font-style:italic;
  text-shadow:0 2px 3px rgba(0,0,0,256);
}

h3{
  margin:auto;
  text-align:center;
}

p{
  margin:auto;
}

.animals{
  text-align:center;
  font-style:italic;
  font-size:13px;
}

#banner{
  position:relative;
  overflow:hidden;
}

#zodiac{
  background-color:white;
  padding:1.5rem;
}

#dragon{
  background-color:#e4c22a;
  margin:auto;
  padding:1.5rem;
}

#goat{
  color:white;
  background-color:#222222;
  margin:auto;
  padding:1.5rem;
}

#rooster{
  color:white;
  background-color:#bc0017;
  margin:auto;
  padding:1.5rem;
}

#ox{
  background-color:#e4c22a;
  margin:auto;
  padding:1.5rem;
}

#bottom{
  color:white;
}

footer{
  text-align:center;
  color:white;
  background-color:#222222;
  margin:auto;
  padding:1.5rem;
}
